MAPTILER_KEY=your_maptiler_key
LONGDO_MAP_KEY=your_longdo_map_key
LONGDO_CACHE_TTL=86400
ADMIN_EMAIL=admin@smartcity.local
ADMIN_PASSWORD=ChangeMe123!
SAMPLE_USER_PASSWORD=choose_a_strong_sample_password
