MAPTILER_KEY=your_maptiler_key
LONGDO_MAP_KEY=your_longdo_map_key
LONGDO_CACHE_TTL=86400
SAMPLE_USER_PASSWORD=choose_a_strong_sample_password
MINIO_ACCESS_KEY=choose_a_minio_access_key
MINIO_SECRET_KEY=choose_a_strong_minio_secret
MINIO_BUCKET=smart-tambon-incidents
